<div class="container">
  <h1 class="mt-5">Lista de Posts</h1>

  <div class="row mt-4">
    <% @posts.each do |post| %>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"><%= post.title %></h2>
            <p class="card-text"><strong>Fecha de Publicación:</strong> <%= post.published_at.strftime("%d/%m/%Y %H:%M") %></p>
            <%= link_to "Ver Detalles", post_path(post), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>